.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-absolute {
  @apply h-full w-full object-cover absolute translate-x-1/2 right-1/2;
}

.container-common {
  @apply my-0 mx-auto;
}

.container-small {
  @apply container-common max-w-[1024px];
}

.container-medium {
  @apply container-common max-w-[1280px];
}

.container-big {
  @apply container-common max-w-[1536px];
}
